@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  /* background-color: #4158d0; */
  background: linear-gradient(
    90deg,
    #4158d0 0%,
    #c850c0 50%,
    #ffcc70 100%
  );

  /* background: linear-gradient(90deg, rgba(150,148,204,1) 0%, rgba(85,85,240,0.9254593194699755) 50%, rgba(150,148,204,1) 100%); */
  /* background-color: #4e73df; */
}

.daftar-masuk {
  width: 450px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  background-color: white;
  box-shadow: 2px 2px 11px 6px rgba(150, 150, 150, 0.75);
  -webkit-box-shadow: 2px 2px 11px 6px rgba(150, 150, 150, 0.75);
  -moz-box-shadow: 2px 2px 11px 6px rgba(150, 150, 150, 0.75);
}

.container-daftar-masuk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  height: 450px;
}

.header-masuk {
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(31, 31, 31, 0.45);
}

.header-masuk h1 {
  text-align: center;
}

.container-daftar-masuk h1 {
  text-align: center;
  color: #1f1f1f;
  font-weight: 600;
}

.container-daftar-masuk h4 {
  text-align: center;
  font-size: 16px;
}

.container-form-daftar-masuk {
  width: 100%;
  display: grid;
  grid-gap: 18px;
}

.form-daftar-masuk p {
  font-size: 14px;
  display: none;
}

.input {
  width: 350px;
  padding: 15px 15px;
  border-radius: 6px;
  font-size: 14px;
}

.button {
  width: 100%;
  height: 54px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.button:hover {
  transition: 0.2s 0.01s ease-in;
  background-color: #5555f0;
  color: white;
}

.button p {
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
}
